aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
autopep8
certifi
charset-normalizer
click
contourpy
cycler
exceptiongroup
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib-resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
linkify-it-py
markdown-it-py
MarkupSafe
matplotlib
mdit-py-plugins
mdurl
multidict
numpy
orjson
packaging
pandas
Pillow
pycodestyle
pydantic
pydantic_core
pydub
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
referencing
requests
rpds-py
semantic-version
six
sniffio
starlette
tomli
toolz
tqdm
typing_extensions
tzdata
uc-micro-py
urllib3
uvicorn
websockets
yarl
zipp
streamlit
openai-whisper
torch
torchaudio
